p{
    font-family: "Inter";
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    font-style: normal;

    color: #000000;

    padding-top: 72px;
    padding-right: 37px;
    margin-left: 29px;
}

h3{
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    color:  #131C6A ;
    padding-left: 72px;
    padding-top: 40px;
    padding-bottom: 72px;
}

.text-modal{
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid  black;
    width: 700px;
    height: 400px;
    @include ModalCenter();
    display: flex;
}

.girl{
    background-color: #fff;
    border-radius: 10px;
   width: 837px;
   height: 577px;
   @include ModalCenter();
   display: flex;
   border: 1px solid  black;

}

img{
    width: 422px;
    height: 512px;

    margin-top: 40px;
    margin-left: 49px;
    margin-bottom: 25px;
}

.boy{
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid  black;
    width: 837px;
    height: 577px;
    @include ModalCenter();
    display: flex;
}

.bird{
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid  black;
    width: 837px;
    height: 577px;
    @include ModalCenter();
    display: flex;
}

.modal{
    border: 1px solid black;
    width: 700px;
    height: 470px;
    background: #FFFFFF;
    border-radius: 10px;
}

  i{
    position: absolute;
   right: 9px;
   top: 1px;
  }

